<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LBCTracking.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <LBCTracking.Library.Properties.Settings>
            <setting name="LBCTracking_Library_LBCService_Service" serializeAs="String">
                <value>http://lbcfbapi.lbcexpress.com/dev/Service.asmx</value>
            </setting>
        </LBCTracking.Library.Properties.Settings>
    </applicationSettings>
</configuration>